
<div *ngFor="let activity of activities">

  <h3>
    {{ activity.name }}
  </h3>

  <p *ngIf="activity.description">
    Description: {{ activity.description }}
  </p>

  <button type="button" *ngIf="this.showCusines" (click)="showCusines()">
    Show Cusine
  </button>
<!--   
  <div class="test" *ngFor="let business of businesses; let i=index">
    <p (click)="more[i]==!more[i]" class="seeMore">
      {{more[i]?'See Less':'See more'}}
    </p>
  </div> -->

  <ul class="list-businesses">
    <li *ngFor="let cusine of cusines">
      {{ cusine }}
    </li>
  </ul>

</div>
